<{ include file = "<{$blsfe_root}>/core/jm/views/menu.html" }>

<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
	<th>ID</th>
	<th>Name</th>
	<th><a href='/<{$lang}>/core/<{$tab}>/worker2services/add'>Add</a></th>
	
</tr>
</thead>
	
	
<{foreach from=$aData item=row}>
<{if $row.id}>
<tr>
	<td><{$row.id}></td>
	<td><a href="/<{$lang}>/core/<{$tab}>/worker2services/show/<{$row.id}>"><{$row.name}></a></td>
	<td><a href="/<{$lang}>/core/<{$tab}>/worker2services/edit/<{$row.id}>">Edit</a></td>
</tr>
<{/if}>
<{/foreach}>

</table>