            <li <{if $subtab=="admin"}> class="active" <{/if}> ><a href="/core/jm/admin">Dashboard</a></li>
            <li <{if $subtab=="roles"}> class="active" <{/if}> ><a href="/core/jm/roles">Roles</a></li>
            <li <{if $subtab=="workers"}> class="active" <{/if}> ><a href="/core/jm/workers">Workers</a></li>
            <li <{if $subtab=="jobs"}> class="active" <{/if}> ><a href="/core/jm/jobs">Jobs</a></li>
            <li <{if $subtab=="services"}> class="active" <{/if}> ><a href="/core/jm/services">Services</a></li>
            <li <{if $subtab=="projects"}> class="active" <{/if}> ><a href="/core/jm/projects">Projects</a></li>
