    <div class="navbar navbar-default navbar-top" role="navigation" >
      <div class="container" style="background-color: lightyellow">
          <ul class="nav navbar-nav">
            <li <{if $subtab=="admin"}> class="active" <{/if}> ><a href="/core/jm/admin">Dashboard</a></li>
            <li <{if $subtab=="roles"}> class="active" <{/if}> ><a href="/core/jm/roles">Roles</a></li>
            <li <{if $subtab=="workers"}> class="active" <{/if}> ><a href="/core/jm/workers">Workers</a></li>
            <li <{if $subtab=="jobs"}> class="active" <{/if}> ><a href="/core/jm/jobs">Jobs</a></li>
            <li <{if $subtab=="services"}> class="active" <{/if}> ><a href="/core/jm/services">Services</a></li>
          </ul>
      </div>
    </div>

