<script>
<{if $smarty.request.CKEditorFuncNum}>
	function returnURL2CKE(id, url){
		if (window.opener){
			window.opener.CKEDITOR.tools.callFunction(<{$smarty.request.CKEditorFuncNum}>, url);
			self.close();
		} else {
			parent.<{$smarty.request.CKEditorFuncNum}>('<{$smarty.request.updateSelector}>', id, url);
		}
		
	}
<{/if}>

$(function() {

	$("a.fancybox").fancybox();
	$("a.uploader").fancybox({
		type: 'iframe',
		modal: false,
		autoDimensions: false,
		autoScale: false,
		width: 400,
		height: 200
	})
	
	$('#newImageCategory').click(function(){
		if(name=prompt("Name of the Category", "")){
			_url="/core/images/<{$imageManagerRole}>/addfolder/"+escape(name) +"?<{$smarty.server.QUERY_STRING}>";
			self.location=_url;
		}
	});
	$(".category").click(function(){
		self.location=jQuery(this).attr("href");
		
	});
});

</script>

<style>

#categoriesContainer {
	width: 120px;
}
.category {
	padding: 10px;
	margin-top: 10px;
}
.category:hover {
	background-color: #ccc;
	cursor: pointer;
}
#newImageCategory {
	width: 120px;
}
</style>

<{include file="<{$blsfe_root}>/core/images/views/upload.html"}>

<div id="imageManager">
	<table border=0 width="100%">
	<td valign=top id="categoriesContainer">
		<{foreach from=$categories item=category}>
		<div href="/core/images/<{$imageManagerRole}>/list/<{$category.id}>?<{$smarty.server.QUERY_STRING}>" class="category fbgreybox <{if $category.id eq $category_id}> fbbluebox <{/if}>"><{$category.name}></div>
		
		<{/foreach}>
	</td>
	<td valign=top align="left">
	
	<div id="imagesContainer">
	<{if !$aData|@count}>
	<h2>No images in this category. Please add some</h2>
	<{/if}>
	<{foreach from=$aData item=image}>
		<div class="fbbluebox"  style="width: 120px; height: 130px; text-align: center; float: left; margin: 10px; padding-top: 20px;">
			<{if $smarty.request.CKEditorFuncNum}>
			<a href="javascript:void(0)" onclick="returnURL2CKE(<{$image.id}>, '/core/images/<{$imageManagerRole}>/show/<{$image.id}>')">
			<{else}>
			<a class="fancybox" rel="group" href="/core/images/<{$imageManagerRole}>/show/<{$image.id}>/0/0/<{$image.name}>">
			<{/if}>	
				<img src="/core/images/<{$imageManagerRole}>/show/<{$image.id}>/100/100/<{$image.name}>" width=100 height=100></a>
			<br>
			<{if !$smarty.request.CKEditorFuncNum}>
			<a href="/core/images/<{$imageManagerRole}>/edit/<{$image.id}>">edit</a>
			<{/if}>
		</div>
	<{/foreach}>
	</div>
	</td>
</table>

</div>