<div id="container" class="fbbluebox" align=right>
	<button id="newImageCategory" class="button">New Folder</button> 
	<{if $category_id}>
    <button id="pickfiles" class="button">Select images to upload</button> 
	<{/if}>
</div>
<div id="debug" style="background-color: pink; display:none;">DEBUG</div>

<{if $category_id}>
<script type="text/javascript">
$(function() {
	var uploader = new plupload.Uploader({
		runtimes : 'gears,html5,flash,silverlight,browserplus',
		browse_button : 'pickfiles',
		container : 'container',
		multi_selection: true,
		max_file_size : '2000mb',
		chunk_size: '1mb',
		url : '/core/images/<{$imageManagerRole}>/uploadfile',
		flash_swf_url : '/fwassets/js/plupload/js/plupload.flash.swf',
		silverlight_xap_url : '/fwassets/js/plupload/js/plupload.silverlight.xap',
		filters : [
		{title : "PDF files", extensions : "pdf"},
		{title : "Images files", extensions : "jpg,gif,png"},
		],
	});

	uploader.bind('Init', function(up, params) {
		$('#filelist').html("<div>Current runtime: " + params.runtime + "</div>");
		$('#pickfiles').show();
		//$('#pickfiles').trigger('click');
	});

	uploader.init();

	uploader.bind('FilesAdded', function(up, files) {
		$.each(files, function(i, file) {
			$('#filelist').append(
				'<div id="' + file.id + '">' +
				file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
			'</div>');
		});

		up.refresh(); // Reposition Flash/Silverlight
		up.start();
	});

	uploader.bind('UploadProgress', function(up, file, res) {
		$('#' + file.id + " b").html(file.percent + "%");
	});

	uploader.bind('Error', function(up, err) {
		$('#filelist').append("<div>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

		up.refresh(); // Reposition Flash/Silverlight
	});

	uploader.bind('FileUploaded', function(up, file, res) {
		$('#' + file.id + " b").html("100%");
		$("#container").append(res.response);
		x=JSON.parse(res.response);
		_url="/core/images/<{$imageManagerRole}>/addfile/"+ x.filename + "/<{$category_id}>";
		$("#debug").load(_url);
	});
	
	uploader.bind('StateChanged', function(uploader) {
	        if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
			// All files are uploaded;
			//parent.window.location.reload();
			//self.window.location.reload();
	        }
	    });	
});

</script>
<{/if}>
