<div id="loginForm"  style="display:block" title="<{$smarty.const.APP_NAME}>">

<form method="POST">
	<table border=0>
		<tr>
			<td>Login</td>
			<td><input type="text" name="email" size=30></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="passwd" size=30></td>
		</tr>
		<tr>
			<td colspan="2" align=right><input type="submit"></td>
		</tr>
	</table>
</form>
</div>

<script>
$(function() {
	$('#loginForm').dialog({
		 width: 300, height: 130, modal: true, draggable: false, resizable: false
	});
});

</script>
