<style>
table.potable {
	background-color: lightyellow;
	border-collapse: none;
	width: 100%;
}
.po_textarea {
	width: 600px;
	height: 100px;
	
}
table.potable th,td {
	border: 1px solid black;
	padding: 10px;
	}
table.potable th {
	max-width: 150px;
	width: 150px;
	font-weight: bold;
}

table.potable .odd {
	background-color: #dddddd;
}
table.potable .even {
	background-color: white;
}

table.potable .filled {
	background-color: #00FF99;
}
table.potable .empty {
	background-color: #FFCCCC	;
}
</style>
<{$po}>
