<style>
.po_textarea {
	min-height: 100px;
	
}
table.potable th,td {
	border: 1px solid black;
	padding: 10px;
	}
table.potable th {
	max-width: 150px;
	width: 150px;
	font-weight: bold;
}

table.potable .filled {
	background-color: #00FF99 !important;
}
table.potable .empty {
	background-color: #FFCCCC !important;
}
</style>
<{if $smarty.request.scrollto}>
<script>
// This smart idea is  from Florian Hinze of Worldsoft
$(document).ready(function (){
       $('html, body').animate({
           scrollTop: $("#translation-<{$smarty.request.scrollto}>").offset().top
       }, 500);
});
</script>
<{/if}>
<{$po}>
