		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th>What it runs</th><td><{$aData.cmd}></td>
			</tr>
			<tr>
				<th>What it does</th><td><{$aData.description}></td>
			</tr>
		</table>
		<h3>Roles <span class="label"><a href="/core/jm/job2roles/add/?job_id=<{$aData.id}>"><button type="button" class="btn btn-tertiary">Add</button></a></h3>
		
 			<table class="table table-striped table-bordered table-condensed">
				<tr>
					<thead>
						<th>Role</th>
						<th>Description</th>
					</thead>
				</tr>
				<{foreach from=$aRoles item=row}>
				<tr> 
					<td> <{$row.name}> </td> 
					<td> <{$row.description}> </td> 
				</tr>
				<{/foreach}>
			</table>
