<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
	<th>ID</th>
	<th>User</th>
	<th>Name</th>
	<th>Title</th>
	<th><a href='/<{$lang}>/core/cv/admin/add'>Add</a></th>
	
</tr>
</thead>
	
<{if $aData }>
<{foreach from=$aData item=cvproject}>
<tr>
	<td><{$cvproject.id}></td>
	<td><{userData field="firstnameLastname" user_id=$cvproject.user_id}></td>
	<td><{$cvproject.name}></td>
	<td><{$cvproject.title}></td>
	<td><a href="/<{$lang}>/core/cv/admin/edit/<{$cvproject.id}>">Edit</a></td>
	<td><a href="/<{$lang}>/core/cv/admin/images/<{$cvproject.id}>">Images</a></td>
</tr>

<{/foreach}>
<{/if}>

</table>
