<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="/fwassets/js/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/fwassets/js/plupload/js/plupload.js"></script>
<script type="text/javascript" src="/fwassets/js/plupload/js/plupload.silverlight.js"></script>
<script type="text/javascript" src="/fwassets/js/plupload/js/plupload.flash.js"></script>
<script type="text/javascript" src="/fwassets/js/plupload/js/plupload.html4.js"></script>
<script type="text/javascript" src="/fwassets/js/plupload/js/plupload.html5.js"></script>



</head>
<body>


<h1>Upload Images for this project</h1>
<div id="container">
    <div id="filelist">Init</div>
    <a id="pickfiles" href="javascript:;">[Select files]</a> 
    <a id="uploadfiles" href="javascript:;">[Upload files]</a>
</div>


<script type="text/javascript">

$(function() {
	var uploader = new plupload.Uploader({
		runtimes : 'gears,html5,flash,silverlight,browserplus',
		browse_button : 'pickfiles',
		container : 'container',
		multi_selection: true,
		max_file_size : '2000mb',
		chunk_size: '1mb',
		url : '/core/cv/admin/uploadfile/<{$project.id}>',
		flash_swf_url : '/fwassets/js/plupload/js/plupload.flash.swf',
		silverlight_xap_url : '/fwassets/js/plupload/js/plupload.silverlight.xap',
		filters : [
			{title : "Images", extensions : "png,jpg,gif"}
		],
	});

	uploader.bind('Init', function(up, params) {
		$('#filelist').html("<div>Current runtime: " + params.runtime + "</div>");
	});

	$('#uploadfiles').click(function(e) {
		uploader.start();
		e.preventDefault();
	});

	uploader.init();

	uploader.bind('FilesAdded', function(up, files) {
		$.each(files, function(i, file) {
			$('#filelist').append(
				'<div id="' + file.id + '">' +
				file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
			'</div>');
		});
	});

	uploader.bind('UploadProgress', function(up, file) {
		$('#' + file.id + " b").html(file.percent + "%");
	});

	uploader.bind('Error', function(up, err) {
		$('#filelist').append("<div>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

		up.refresh(); // Reposition Flash/Silverlight
	});

	uploader.bind('FileUploaded', function(up, file, res) {
		$('#' + file.id + " b").html("100%");
		$("#container").html($("#container").html() + "<br>" + res.response);
		//parent.$.fancybox.close();
	});
});

</script>
