<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><{$smarty.const.APP_NAME}></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
		<{foreach from=$coremodules key=module item=moduleData}>
		<li <{if $tab==$module}> class="active"<{/if}> ><a href="/core/<{$module}>/admin"><{$moduleData.label}></a></li>
		<{/foreach}>
		<{foreach from=$appmodules key=module item=moduleData}>
		<li <{if $tab==$module}> class="active"<{/if}>><a href="/modules/<{$module}>/admin"><{$moduleData.label}></a></li>
		<{/foreach}>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

