<div id="topmenu">
	<a class="<{if $tab=="adminhome"}> active<{/if}> topmenuleft fbtab" href="/core/admin/"><{$smarty.const.APP_NAME}></a> 
	<{foreach from=$coremodules item=module}>
		<a class="<{if $tab==$module}> active<{/if}> fbtab" href="/core/<{$module}>/"><{$module|strtolower|ucfirst}></a> 
	<{/foreach}>
	<{foreach from=$appmodules item=module}>
		<a class="<{if $tab==$module}> active<{/if}> fbtab" href="/modules/<{$module}>/admin/"><{$module|strtolower|ucfirst}></a> 
	<{/foreach}>
</div>




