<script type="text/javascript"> 
jQuery(document).ready(function() {
        jQuery('.ckeditor').ckeditor({
            filebrowserBrowseUrl : '/core/images/admin/list/1/',
	        customConfig : '/fwassets/admin/ckeditor.js',
			toolbar : 'Full',
			height: '400px',
			width: '100%'
			
        });
});
</script>
<style>
.faq-question {
	width: 600px;
}
</style>

<div id="tabs" style="width: 800px">
<ul>
<{foreach from=$aData["translations"] item=l}>
<li><a href="#tabs-<{$l.lang}>"><{$l.lang}></a></li>
<{/foreach}>
</ul>	


<{foreach from=$aData["translations"] item=l}>
<div id="tabs-<{$l.lang}>">
	<form method="POST" action="/core/faqs/admin/save">
	<input type="hidden" name="id" value="<{$l.id}>">
	<input type="hidden" name="faq_id" value="<{$l.faq_id}>">
	<input type="hidden" name="lang" value="<{$l.lang}>">
	<table>
		<tr class="even">
			<td style="width:130px">Name</td>
			<td><{$aData.name}></td>
		</tr>
		<tr class="odd">
			<td style="width:130px">Translation ID</td>
			<td><{$l.id}></td>
		</tr>
		<tr class="even">
			<td style="width:130px">Last updated</td>
			<td><{$l.ts}></td>
		</tr>
		<tr class="odd">
			<td style="width:130px">Question</td>
			<td><input type="text" name="question" class="faq-question" size=80 value="<{$l.question}>"></td>
		</tr> 
		<tr class="odd">
			<td colspan=2>Answer
				<br>
			<textarea name="answer" id="answer-<{$l.lang}>" class="ckeditor" cols=50 rows=30><{$l.answer}></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><button id="save" class="color" name="save" type="submit">Save <{$l.lang}></button></td>
		</tr>
    </table>
	</form>
</div>
<{/foreach}>




</div>
	