<div id="container" class="fbbluebox" align=right>
<button style="color: red" onclick="deleteImage('<{$imageManagerRole}>', <{$image.id}>)"><po>Delete this image</po></button>
</div>

<{include file="<{$blsfe_root}>/core/images/views/edit.html"}>
<br><br>

<script>
function deleteImage(role,id){
	if(confirm("<po>Are you sure you want to delete this image</po>??\n\n<po>This action is not reversable</po>!!\n\n<po>The system will NOT check for any dependencies of this image</po>")){
		_url="/core/images/"+role+"/delete/"+id;
		self.location=_url;
		//alert(_url);
	}
}
</script>

