<p><i><{$aData.description}></i></p>
<h3>Members <span class="label"><a href="/core/jm/worker2roles/add/?role_id=<{$aData.id}>"><button type="button" class="btn btn-tertiary">Add</button></a></h3>
   
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<thead>
			<th>Hostname</th>
			<th>Address</th>
			<th>Status</th>
			
		</thead>
	</tr>
	<{foreach from=$aWorkers item=row}>
	<tr> 
		<td> <{$row.name}> </td> 
		<td> <{$row.ip}>:<{$row.port}> </td> 
		<td> <{$row.status}> </td> 
	</tr>
	<{/foreach}>
</table>


