<{ include file = "<{$blsfe_root}>/core/jm/views/menu.html" }>

<div class="container">
    <h1>Role: <{$aData.name}></h1>

	<p><i><{$aData.description}></i></p>


   <h3>Members</h3>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<thead>
				<th>Hostname</th>
				<th>Address</th>
				<th>Status</th>
				
			</thead>
		</tr>
		<{foreach from=$workers item=row}>
		<tr> 
			<td> <{$row.name}> </td> 
			<td> <{$row.ip}>:<{$row.port}> </td> 
			<td> <{$row.status}> </td> 
		</tr>
		<{/foreach}>
	</table>
</div>
