.comment-entry {
	width: 400px;
	margin-bottom:2px;
	color: #333;
	background-color:#eceff6;
	border-bottom: 1px solid #d4dae8;
}

.comment-avatar-col {
	width: 30px;
	display:table-cell;
	vertical-align: top;
	text-align: center;
	
}

.comment-title-col {
}

.comment-user-name {
	padding-bottom: 5px;
	font-weight: bold;
}
.comment-user-comment {
	padding-top: 5px;
	padding-bottom: 10px;
}

.comment-createtime {
	text-align:right;
	opacity: 0.333;
	
}

