<div id="commentBox-<{$smarty.request.object_id}>">
<{foreach item=comment from=$comments}>
<{if $comment.comment && $comment.is_active}>

<table class="comment-entry" border=1>
	<tr>
	<td class="comment-avatar-col"><img src="/avatars/<{$comment.avatar}>" style="width:25px"></td>
	<td class="comment-title-col">
		<span class="comment-user-name"><{$comment.firstname}> <{$comment.lastname}></span> &nbsp;
		<span class="comment-user-comment"><{$comment.comment|nl2br}></span>
		<div class="comment-createtime"><abbr class="commenttimeago" title="<{$comment.createtime}>"><{$comment.createtime}></abbr></div>
		<{if $comment.user_id eq $smarty.session.user.user_id}>
		<div class="comment-delete"><a href="javascript:void(handleCommentDelete(<{$comment.id}>, '<{$smarty.request.object_type}>', <{$smarty.request.object_id}>, 'commentBox-<{$smarty.request.object_id}>' ))">Delete</a></div>
		<{/if}>
	</td>
	<tr>
</table>

<{/if}>
<{/foreach}>

<script>
$('#commentField-<{$smarty.request.object_id}>').bind('keypress', function(e) {
        if(e.keyCode==13){
	        $(this).closest('form').submit();
        }
});	
</script>
<form id="commentForm-<{$smarty.request.object_id}>" onsubmit="return handleCommentAdd(this, jQuery('#commentBox-<{$smarty.request.object_id}>'))">
	<input type="hidden" name="object_id" value="<{$smarty.request.object_id}>">
	<input type="hidden" name="object_type" value="<{$smarty.request.object_type}>">
	<textarea name="comment" class="commentField" id="commentField-<{$smarty.request.object_id}>"></textarea>
</form>
</div>